form {
     border-style: solid;
    width: 510px;
}
div {
    position: fixed;
}
.evenRow {
    width: 241px;
}
#openAnAccount {
    left: 530px;
}
#closeAnAccount{
    top: 311px;
    background-color: lawngreen;
}
input {
    margin-left: 10px;
    margin-right: 10px;
    margin: 2px;
}
legend {
    font-size: x-large;
    font-style: oblique;
}

label {
    font-weight: bold;
}
#heading {
    background-color: aqua;
}