form {
    border-style: solid;
    width: 510px;
}

.evenRow {
    width: 241px;
}

input {
    margin-left: 10px;
    margin-right: 10px;
    margin: 2px;
}

legend {
    font-size: x-large;
    font-style: oblique;
}

label {
    font-weight: bold;
}

#heading {
    background-color: aqua;
}